@import 'tailwindcss';
@import '@lf/ui/styles/default.css';

/**
 * Tailwind CSS official document:
 * https://tailwindcss.com/docs/detecting-classes-in-source-files
 *
 * if you ever need to explicitly add a source that's excluded by default, 
 * you can always add it with the @source directive.
 */
@source '../../node_modules/@lf/ui';


html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    line-height: 1.5;
    overflow-x: hidden;
}


.montserrat {
    font-family: var(--font-montserrat);
}

.bricolage {
    font-family: var(--font-bricolage);
}

.jetbrains {
    font-family: var(--font-jetbrains);
}

.merriweather {
    font-family: var(--font-merriweather);
}


.animate-slide-up {
    opacity: 0;
    transform: translateY(80px);
    animation: slideUp 0.8s ease forwards;
}

.animate-fade {
    opacity: 0;
    animation: fade 1s ease forwards;
}

.delay-1 {
    animation-delay: 0.5s;
}

.delay-2 {
    animation-delay: 1s;
}

.delay-3 {
    animation-delay: 1.5s;
}

@keyframes slideUp {
    from {
        opacity: 0;
        filter: blur(8px);
        transform: translateY(50);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fade {
    from {
        filter: blur(8px);
        opacity: 0;
    }

    to {
        filter: blur(0px);
        opacity: 1;
    }
}

.no_scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.no_scrollbar::-webkit-scrollbar {
    display: none;
}

.scrollbar-hidden {
    overflow: auto;
}

/* Hide the scrollbar */
.scrollbar-hidden::-webkit-scrollbar {
    display: none;
}

.tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

/* Tooltip text */
.tooltip .tooltip-text {
    visibility: hidden;
    width: 160px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 6px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    /* position above the text */
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s;
}

/* Arrow below the tooltip */
.tooltip .tooltip-text::after {
    content: "";
    position: absolute;
    top: 100%;
    /* arrow at the bottom */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #333 transparent transparent transparent;
}

/* Show tooltip on hover (desktop) or focus (keyboard) */
.tooltip:hover .tooltip-text,
.tooltip:focus-within .tooltip-text {
    visibility: visible;
    opacity: 1;
}

/* For mobile: show tooltip on tap (using :focus-within) */
.tooltip:focus-within .tooltip-text {
    visibility: visible;
    opacity: 1;
    outline: none;
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Hide arrows in Firefox */
input[type='number'] {
    -moz-appearance: textfield;
}


.markdown_content ul {
    margin-top: 10px;
    list-style-type: disc;
    padding-left: 1.5rem;
}